resource.type="dataform.googleapis.com/Repository" 
AND jsonPayload.@type="type.googleapis.com/google.cloud.dataform.logging.v1.WorkflowInvocationCompletionLogEntry" 
AND jsonPayload.terminalState="FAILED" 
AND jsonPayload.releaseConfigId="${release_config_id}" 
AND jsonPayload.workflowConfigId="${workflow_config_id}"
